body {
	margin: 0;
	display: flex;
	flex-direction: column;
	background-color: white;
}
a {
	text-decoration: none;
	color: #00897B;
}
h1, h2, h3, h4 {
	margin: 0;
}
/* Hide larges displays */
.header_large { display: none; }

/* Style Select Field */
select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 4px 0;
  font-size: 16px;
  color: #009688;
  border: none;
  border-bottom: 1px solid #004D40;
}

/* Remove focus */
select:focus {
  outline: none;
}
/* Use custom arrow */
.mdl-selectfield select {appearance: none}
.mdl-selectfield {
	font-family: 'Roboto','Helvetica','Arial',sans-serif;
	position: relative;
	&:after {
		position: absolute;
		top: 0.75em;
		right: 0.5em;
		/* Styling the down arrow */
		width: 0;
		height: 0;
		padding: 0;
		content: '';
		border-left: .25em solid transparent;
		border-right: .25em solid transparent;
		border-top: .375em solid #004D40;
		pointer-events: none;
	}
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 11px;
}
::-webkit-scrollbar-track:active {
    /*background-color: white;*/
}
::-webkit-scrollbar-thumb {
    /*border-radius: 2px;*/
    background: #00BFA5;
    /*box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
::-webkit-scrollbar-thumb:active {
	background: #004D40;
}

/* Header */
.header_min {
	height: 48px; /* 50px */
	display: flex;
	justify-content: space-around;
	background-color: #A7FFEB;
	border-bottom: 2px solid #004D40;
}
.header_min .material-icons {
	font-size: 48px;
}
.logo_image {
	height: 48px;
}
#cookiebar {
    text-align: center;
	flex-direction: column;
	background-color: #009688;
	color: #FFF;
	padding: 5px;
	display: none;
}
#cookiebar .button {
	align-self: flex-end;
}

/* Content - common */
#content {
    display: flex;
    flex-direction: column;
	flex-grow: 1;
	background-color: #E0F7FA;
}
.icon_margin_right {
	margin-right: 10px;
}
.dialog {
	width: calc(100% - 20px);
	position: absolute;
	display: none;
	z-index: 99;
	background-color: #FFF;
	padding: 10px;
}
.dialog_content {
	height: calc(100vh - 280px);
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: auto;
}
.dialog_action {
	margin-top: 5px;
	text-align: right;
}
.center100 {
	width: 100%;
}
.rightbox {
	display: block;
	margin-left: auto;
	margin-right: 0;
}
.material-icons.center {
	position: relative;
	top: -1px;
	vertical-align: middle;
}

/* Home */
.home_top {
	display: flex;
	flex-direction: column;
	width: 100%;
	/*min-height: 200px;*/
	background-color: #f3f3f3;
	background: url('img/home_top.jpg') center 30% no-repeat;
	background-size: cover;
	color: #E0F7FA;
	border-bottom: 2px solid #004D40;
	margin-bottom: 20px;
}
.home_title {
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}
.home_subtitle {
	flex-grow: 1;
	text-align: center;
	padding: 10px;
	font-size: 18px;
	margin-bottom: 20px;
}
.home_application {
	padding: 10px;
	text-align: center;
	font-size: 18px;
	margin-bottom: 20px;
}
.home_application a {
	color: #E0F7FA;
}
.home_forms {
	width: 100%;
}
.home_forms_title {
	padding-left: 10px;
}
.home_cards {
	display: flex;
	flex-direction: column;
}
.home_card {
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: 10px;
}
.home_card_text {
	flex-grow: 1;
}
.home_card_img img {
	width: 100%;
}
.home_card_error {
	color: #FF0000;
	font-weight: bold;
}

/* Account */
.account_body {
	background-color: #009688;
	/*padding: 10px;*/
}
.account_content {
    padding: 10px;
}
.account_title {
	font-size: 26px;
	color: #E0F2F1;
	margin-bottom: 10px;
}
.account_blocs {
	display: flex;
	flex-direction: column;
}
.account_blocs h3 {
	color: #004D40;
}
.account_bloc {
	padding: 5px;
	background-color: #E0F2F1;
	margin-bottom: 20px;
}

/* Messages */
.messages_page {
	display: flex;
	flex-direction: column;
}
.messages_action_button {
	text-align: center;
	padding: 10px;
	background-color: #0D47A1;
	color: #E0F2F1;
	font-weight: bold;
	cursor: pointer;
}
.messages_action_button.bottom {
	border-top: 1px solid #009688;
}
.messages_action_button.top {
	border-bottom: 1px solid #009688;
}
.messages_action_button:hover {
	background-color: #82B1FF;
}
/* Message_contacts */
#messages_contacts_bloc {
	height: calc(100vh - 90px); /* 100% - (header + footer)*/
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
}
#messages_contacts {
	flex-grow: 1;
	overflow: auto;
}
.messages_contact_item {
	min-height: 50px;
	margin: 5px;
	background-color: #E0F2F1;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	padding: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
}
.messages_contact_item:hover {
	background-color: #B2DFDB;
}
.messages_contact_item_img {
	padding-right: 5px;
}
.messages_contact_item_img img {
	width: 40px;
	border-radius: 20px;
}
.messages_contact_item_name {
	color: #004D40;
	font-weight: bold;
}
.messages_contact_item_subname {
	color: #00695C;
	font-size: 12px;
}
/* Message_messages */
#messages_messages_bloc {
	height: calc(100vh - 90px); /* 100% - (header + footer)*/
	display: none;
	flex-direction: column;
}
#messages_list {
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow: hidden;
}
.message_list_title {
	background-color: #009688;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	padding: 2px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	z-index: 10;
}
#messages_list_items {
	flex: 1;
	overflow: auto;
}
.messages_list_item {
	min-height: 50px;
	padding: 5px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}
.messages_list_item_infos {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	padding: 5px;
	margin-left: 10px;
	background-color: #FF8A80;
	order: 1;
	flex: 1
}
#messages_list .type_1 .messages_list_item_infos {
	background-color: #B2DFDB;
}
#messages_list .type_2 {
	margin-left: auto;
	margin-right: 0;
}
#messages_list .type_2 .messages_list_item_infos {
	margin-right: 10px;
	background-color: #FEFEFE;
	order: -1;
}
#messages_list .type_-2, #messages_list .type_-1 {
	margin-left: auto;
	margin-right: 0;
}
#messages_list .type_-2 .messages_list_item_infos, #messages_list .type_-1 .messages_list_item_infos {
	margin-right: 10px;
	background-color: #BBDEFB;
	order: -1;
}
.messages_list_item_body {
	color: #004D40;
	font-size: 16px;
}
.messages_list_item_date {
	color: #00695C;
	font-size: 12px;
}
#messages_inputs {
	height: 69px;
	box-shadow: 0px 0px 3px #009688;
	padding-left: 10px;
	padding-right: 10px;
}
#messages_input_block {
	width: calc(100% - 130px);
	margin-right: 10px;
}
#messages_new_btn {
	padding: 8px;
	background-color: #009688;
	color: #E0F2F1;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
#messages_new_form {
	margin-right: auto;
	margin-left: auto;
	width: 300px;
}
#messages_new_send_btn {
	left: 260px;
}

/*@font-face{*/
/*    font-family:'EmojiSymbols';*/
    
/*    src:url('emoji/symbola.eot');*/
/*    src:url('emoji/symbola.eot?#iefix') format('embedded-opentype'),*/
/*        url('emoji/symbola.woff') format('woff'),*/
/*        url('emoji/symbola.ttf') format('truetype'),*/
/*        url('emoji/symbola.svg#FontAwesomeRegular') format('svg');*/
/*            font-weight:normal;*/
/*    font-style:normal;*/
/*}*/

.emoji_like {
	font-family: "Helvetica", "Apple Color Emoji", "NotoColorEmoji", "Segoe UI Emoji", "Arial";
}
.emoji_list {
	font-family: "Apple Color Emoji", "NotoColorEmoji", "Segoe UI Emoji";
}
.emoji_list_content {
	font-size: 28px;
    line-height: 40px;
}
.emoji_list_content span:hover {
	cursor: pointer;
	color: #555;
}

.signin_page {
	background-color: #009688;
	padding: 10px;
}
.signin_title {
	font-size: 26px;
	color: #009688;
	margin-bottom: 20px;
}
.signin_blocs {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.signin_bloc {
	padding: 10px;
	width: 500px;
	background-color: #E0F7FA;
	flex-shrink: 1;
}
.signin_img {
	text-align: center;
	width: 200px;
}
.signin_text {
	color: #009688;
	font-size: 18px;
    text-align: justify;
}

/* Footer */
#footer {
	height: 26px; /* 40px */
	padding: 6px;
	font-size: 14px;
	text-align: center;
	border-top: 2px solid #004D40;
}

@media screen and (min-width: 960px) {
	
	.dialog {
		width: calc(70% - 20px);
		margin-left: 15%;
	}
	/* Header */
	/* Hide larges displays */
	.header_large {
		display: flex;
		height: 48px; /* 50px */
		border-bottom: 2px solid #004D40;
		background-color: #A7FFEB;
	}
	.header_large a {
		color: #009688;
	}
	.header_large_logo {
		margin-left: 10px;
		width: 200px;
	}
	.header_large nav {
		flex-grow: 1;
		display: flex;
		margin-left: auto;
		justify-content: space-around;
	}
	.header_large nav div {
		background-image: linear-gradient(to right, currentColor, currentColor);
		background-repeat: no-repeat;
		background-size: 0 5px;
		background-position: center bottom;
		transition: background-size .25s;
		white-space: nowrap;
	}
	.header_large nav div:hover, header_large nav div:focus {
		background-size: 100% 5px;
		outline: 0;
		color: #4DB6AC;
	}
	.header_large nav div {
		line-height: 38px;
		height: 38px; /* 48px */
		margin-right: 10px;
		margin-left: 40px;
		vertical-align: middle;
		padding: 5px;
		font-size: 24px;
	}
	/* Header mobile */
	.header_min { display: none; }

	/* Home */
	.home_top {
		min-height: 350px;
	}
	.home_cards {
		flex-direction: row;
	}

	/* Devices */
	.account_blocs {
		flex-direction: row;
	}
	.account_bloc {
		flex: 1;
	}
	.account_bloc:nth-child(1) {
		margin-right: 10px;
	}
	.account_bloc:nth-child(2) {
		margin-left: 10px;
	}

	/* Messages */
	.messages_page {
		flex-direction: row;
	}
	.messages_action_button {
		display: none;
	}
	#messages_contacts_bloc {
		display: flex;
		flex: 1;
	}
	#messages_messages_bloc {
		display: flex;
		flex: 2;
	}
}

/* Firefox fix */
@-moz-document url-prefix() {
	.mdl-button {
	 	vertical-align: 35px;
	}
}

/* IE fix */
.ie .mdl-button {
 	vertical-align: 15px;
}
