
<div class="home_top">
	<div class="home_title">{{ lang['home_title'] }}</div>
	<div class="home_subtitle">{{ lang['home_slogan'] | raw}}</div>
	<div class="home_application">
		<a target="_blank" href="https://play.google.com/store/apps/details?id=fr.codazzi.smsonline">
			<img alt="android" src="/res/img/Android.png" /><br />
			{{ lang['home_install_app'] }}
		</a>
	</div>
	<div class="home_compatibility">
	    <div class="home_compatibility_title">{{ lang['home_compatibility_title'] }}</div>
	    <div class="home_compatibility_list">
	        <div class="home_compatibility_item"><img alt="Chrome" src="/res/img/chrome.png" /></div>
	        <div class="home_compatibility_item"><img alt="Opera" src="/res/img/opera.png" /></div>
	        <div class="home_compatibility_item"><img alt="Firefox" src="/res/img/firefox.png" /></div>
	        <div class="home_compatibility_item"><img alt="Steam" src="/res/img/steam.png" /></div>
	        <div class="home_compatibility_item"><img alt="Edge" src="/res/img/edge.png" /></div>
	    </div>
    </div>
	<div class="home_ext">
	    <div class="home_ext_title">{{ lang['home_ext_title'] }}</div>
	    <div class="home_ext_list">
	        <div class="home_ext_list_item">Chrome <br /><a target="_blank" href="https://chrome.google.com/webstore/detail/celhhdnjkicmpegnheladhiecidgidje"><img alt="Chrome" src="/res/img/chrome.png" /></a></div>
	        <!--
	        <div class="home_ext_list_item">Opera <br /><a target="_blank" href=""><img alt="Opera" src="/res/img/opera.png" /></a></div>
	        -->
	        <div class="home_ext_list_item">Firefox <br /><a target="_blank" href="https://addons.mozilla.org/en-US/firefox/addon/smsonline/"><img alt="Firefox" src="/res/img/firefox.png" /></a></div>
	        
	    </div>
    </div>
</div>

{% if not logged %}

	<div class="home_forms">
		<div class="home_forms_title mdl-typography--display-1-color-contrast">{{ lang['home_use_app'] }}</div>
		<div class="home_cards">
			
			<div class="home_card mdl-shadow--3dp">
				<div class="home_card_img">
					<img alt="{{ lang['home_login'] }}" src="/res/img/img1.jpg">
				</div>
				<div id="home_login" class="home_card_title">
					<h4>{{ lang['home_login'] }}</h4>
				</div>
				
				<div class="home_card_text">
					<form action="/{{ lang['code'] }}#email_login" method="post">
						<input type="hidden" name="action" value="login" />
						<div class="center100 mdl-textfield mdl-js-textfield">
							<input class="mdl-textfield__input" type="text" id="email_login" name="email_login">
							<label class="mdl-textfield__label" for="email_login">{{ lang['home_login_email'] }}</label>
						</div><br />
						<div class="center100 mdl-textfield mdl-js-textfield">
							<input class="mdl-textfield__input" type="password" id="password_login" name="password_login">
							<label class="mdl-textfield__label" for="password_login">{{ lang['home_login_password'] }}</label>
						</div>
						<!--
						<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="remenber_login">
							<input type="checkbox" id="remenber_login" class="mdl-checkbox__input">
							<span class="mdl-checkbox__label">{{ lang['home_login_remember'] }}</span>
						</label>
						-->
						
						<div class="home_card_error">{{ errorstr | e }}</div>
						<div class="home_card_action">
							<button class="rightbox mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
								{{ lang['home_login_submit'] }} <i class="material-icons">chevron_right</i>
							</button>
						</div>
					</form>
				</div>
			</div>
			
			<div class="home_card mdl-shadow--3dp">
				<div class="home_card_img">
					<img alt="{{ lang['home_signin'] }}" src="/res/img/img2.jpg">
				</div>
				<div class="home_card_title">
					<h4>{{ lang['home_signin'] }}</h4>
				</div>
				<div class="home_card_text">
					<span class="mdl-typography--font-light mdl-typography--subhead">{{ lang['home_signin_tips'] }}</span>
				</div>
				<div class="home_card_action">
					<button onclick="location.href='/{{ lang['code'] }}/Account/SignIn';" class="rightbox mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
						{{ lang['home_signin_submit'] }} <i class="material-icons">chevron_right</i>
					</button>
				</div>
			</div>
		</div>
	</div>
{% else %}

	
{% endif %}