<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="{{ description }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="google-site-verification" content="fFcuLq68TvKZf4bY0kHzr2yefwOtSUdcrbUCNfwd_X8" />
		<meta name="theme-color" content="#004D40">
		<link rel="icon" sizes="192x192" href="/res/img/logo_transp.png">
		<title>{{ title }}</title>
		
		<!-- JS -->
		<script src="/res/material/material.min.js"></script>
		<script src="/res/js/jzodlib.min.js"></script>
		<script src="/res/js/main.js"></script>

		<!-- CSS -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="/res/material/material.min.css">
		<link rel="stylesheet" href="/res/styles.css">
	</head>
	<body id="body" onload="init_script()">
		{{ include('components/layout_navigation.html') }}
		
		<div id="content">

			{% if html == 'account' %}
				{{ include('pages/account.html') }}
			{% elseif html == 'messages' %}
				{{ include('pages/messages.html') }}
			{% elseif html == 'signin' %}
				{{ include('pages/signin.html') }}	
			{% else %}
				{{ include('pages/home_guest.html') }}
			{% endif %}
	
		</div>
		
		<footer id="footer">
			© 2016 SWB
			| <a class="colorized_link" href="https://codazzi.fr">sCodazzi</a>
			| <a class="colorized_link" href="https://twitter.com/CodazziS">Twitter</a>
			| <a class="colorized_link" href="https://plus.google.com/+SwbOvhOnline">Google Plus</a>
			| <a class="colorized_link" href="http://swb.ovh">Blog</a>
		</footer>
	</body>
</html>