<!-- Face -->

<span onclick="Messages.addEmoji(this);">😄</span>
<span onclick="Messages.addEmoji(this);">😃</span>
<span onclick="Messages.addEmoji(this);">😀</span>
<span onclick="Messages.addEmoji(this);">😊</span>
<span onclick="Messages.addEmoji(this);">☺</span>
<span onclick="Messages.addEmoji(this);">😉</span>
<span onclick="Messages.addEmoji(this);">😍</span>
<span onclick="Messages.addEmoji(this);">😘</span>
<span onclick="Messages.addEmoji(this);">😚</span>
<span onclick="Messages.addEmoji(this);">😗</span>
<span onclick="Messages.addEmoji(this);">😙</span>
<span onclick="Messages.addEmoji(this);">😜</span>
<span onclick="Messages.addEmoji(this);">😝</span>
<span onclick="Messages.addEmoji(this);">😛</span>
<span onclick="Messages.addEmoji(this);">😳</span>
<span onclick="Messages.addEmoji(this);">😁</span>
<span onclick="Messages.addEmoji(this);">😔</span>
<span onclick="Messages.addEmoji(this);">😌</span>
<span onclick="Messages.addEmoji(this);">😒</span>
<span onclick="Messages.addEmoji(this);">😞</span>
<span onclick="Messages.addEmoji(this);">😣</span>
<span onclick="Messages.addEmoji(this);">😢</span>
<span onclick="Messages.addEmoji(this);">😂</span>
<span onclick="Messages.addEmoji(this);">😭</span>
<span onclick="Messages.addEmoji(this);">😪</span>
<span onclick="Messages.addEmoji(this);">😥</span>
<span onclick="Messages.addEmoji(this);">😰</span>
<span onclick="Messages.addEmoji(this);">😅</span>
<span onclick="Messages.addEmoji(this);">😓</span>
<span onclick="Messages.addEmoji(this);">😩</span>
<span onclick="Messages.addEmoji(this);">😫</span>
<span onclick="Messages.addEmoji(this);">😨</span>
<span onclick="Messages.addEmoji(this);">😱</span>
<span onclick="Messages.addEmoji(this);">😠</span>
<span onclick="Messages.addEmoji(this);">😡</span>
<span onclick="Messages.addEmoji(this);">😤</span>
<span onclick="Messages.addEmoji(this);">😖</span>
<span onclick="Messages.addEmoji(this);">😆</span>
<span onclick="Messages.addEmoji(this);">😋</span>
<span onclick="Messages.addEmoji(this);">😷</span>
<span onclick="Messages.addEmoji(this);">😎</span>
<span onclick="Messages.addEmoji(this);">😴</span>
<span onclick="Messages.addEmoji(this);">😵</span>
<span onclick="Messages.addEmoji(this);">😲</span>
<span onclick="Messages.addEmoji(this);">😟</span>
<span onclick="Messages.addEmoji(this);">😦</span>
<span onclick="Messages.addEmoji(this);">😧</span>
<span onclick="Messages.addEmoji(this);">😈</span>
<span onclick="Messages.addEmoji(this);">👿</span>
<span onclick="Messages.addEmoji(this);">😮</span>
<span onclick="Messages.addEmoji(this);">😬</span>
<span onclick="Messages.addEmoji(this);">😐</span>
<span onclick="Messages.addEmoji(this);">😕</span>
<span onclick="Messages.addEmoji(this);">😯</span>
<span onclick="Messages.addEmoji(this);">😶</span>
<span onclick="Messages.addEmoji(this);">😇</span>
<span onclick="Messages.addEmoji(this);">😏</span>
<span onclick="Messages.addEmoji(this);">😑</span>
<span onclick="Messages.addEmoji(this);">👲</span>
<span onclick="Messages.addEmoji(this);">👳</span>
<span onclick="Messages.addEmoji(this);">👮</span>
<span onclick="Messages.addEmoji(this);">👷</span>
<span onclick="Messages.addEmoji(this);">💂</span>
<span onclick="Messages.addEmoji(this);">👶</span>
<span onclick="Messages.addEmoji(this);">👦</span>
<span onclick="Messages.addEmoji(this);">👧</span>
<span onclick="Messages.addEmoji(this);">👨</span>
<span onclick="Messages.addEmoji(this);">👩</span>
<span onclick="Messages.addEmoji(this);">👴</span>
<span onclick="Messages.addEmoji(this);">👵</span>
<span onclick="Messages.addEmoji(this);">👱</span>
<span onclick="Messages.addEmoji(this);">👼</span>
<span onclick="Messages.addEmoji(this);">👸</span>
<br /><br />
<!-- Cats -->
<span onclick="Messages.addEmoji(this);">😺</span>
<span onclick="Messages.addEmoji(this);">😸</span>
<span onclick="Messages.addEmoji(this);">😻</span>
<span onclick="Messages.addEmoji(this);">😽</span>
<span onclick="Messages.addEmoji(this);">😼</span>
<span onclick="Messages.addEmoji(this);">🙀</span>
<span onclick="Messages.addEmoji(this);">😿</span>
<span onclick="Messages.addEmoji(this);">😹</span>
<span onclick="Messages.addEmoji(this);">😾</span>
<br /><br />
<!-- Other faces -->
<span onclick="Messages.addEmoji(this);">👹</span>
<span onclick="Messages.addEmoji(this);">👺</span>
<span onclick="Messages.addEmoji(this);">🙈</span>
<span onclick="Messages.addEmoji(this);">🙉</span>
<span onclick="Messages.addEmoji(this);">🙊</span>
<span onclick="Messages.addEmoji(this);">💀</span>
<span onclick="Messages.addEmoji(this);">👽</span>
<span onclick="Messages.addEmoji(this);">💩</span>
<br /><br />
<!-- Misc -->
<span onclick="Messages.addEmoji(this);">🔥</span>
<span onclick="Messages.addEmoji(this);">✨</span>
<span onclick="Messages.addEmoji(this);">🌟</span>
<span onclick="Messages.addEmoji(this);">💫</span>
<span onclick="Messages.addEmoji(this);">💥</span>
<span onclick="Messages.addEmoji(this);">💢</span>
<span onclick="Messages.addEmoji(this);">💦</span>
<span onclick="Messages.addEmoji(this);">💧</span>
<span onclick="Messages.addEmoji(this);">💤</span>
<span onclick="Messages.addEmoji(this);">💨</span>
<span onclick="Messages.addEmoji(this);">👂</span>
<span onclick="Messages.addEmoji(this);">👀</span>
<span onclick="Messages.addEmoji(this);">👃</span>
<span onclick="Messages.addEmoji(this);">👅</span>
<span onclick="Messages.addEmoji(this);">👄</span>
<span onclick="Messages.addEmoji(this);">👍</span>
<span onclick="Messages.addEmoji(this);">👎</span>
<span onclick="Messages.addEmoji(this);">👌</span>
<span onclick="Messages.addEmoji(this);">👊</span>
<span onclick="Messages.addEmoji(this);">✊</span>
<span onclick="Messages.addEmoji(this);">✌</span>
<span onclick="Messages.addEmoji(this);">👋</span>
<span onclick="Messages.addEmoji(this);">✋</span>
<span onclick="Messages.addEmoji(this);">👐</span>
<span onclick="Messages.addEmoji(this);">👆</span>
<span onclick="Messages.addEmoji(this);">👇</span>
<span onclick="Messages.addEmoji(this);">👉</span>
<span onclick="Messages.addEmoji(this);">👈</span>
<span onclick="Messages.addEmoji(this);">🙌</span>
<span onclick="Messages.addEmoji(this);">🙏</span>
<span onclick="Messages.addEmoji(this);">☝</span>
<span onclick="Messages.addEmoji(this);">👏</span>
<span onclick="Messages.addEmoji(this);">💪</span>
<span onclick="Messages.addEmoji(this);">🚶</span>
<span onclick="Messages.addEmoji(this);">🏃</span>
<span onclick="Messages.addEmoji(this);">💃</span>
<span onclick="Messages.addEmoji(this);">👫</span>
<span onclick="Messages.addEmoji(this);">👪</span>
<span onclick="Messages.addEmoji(this);">👬</span>
<span onclick="Messages.addEmoji(this);">👭</span>
<span onclick="Messages.addEmoji(this);">💏</span>
<span onclick="Messages.addEmoji(this);">💑</span>
<span onclick="Messages.addEmoji(this);">👯</span>
<span onclick="Messages.addEmoji(this);">🙆</span>
<span onclick="Messages.addEmoji(this);">🙅</span>
<span onclick="Messages.addEmoji(this);">💁</span>
<span onclick="Messages.addEmoji(this);">🙋</span>
<span onclick="Messages.addEmoji(this);">💆</span>
<span onclick="Messages.addEmoji(this);">💇</span>
<span onclick="Messages.addEmoji(this);">💅</span>
<span onclick="Messages.addEmoji(this);">👰</span>
<span onclick="Messages.addEmoji(this);">🙎</span>
<span onclick="Messages.addEmoji(this);">🙍</span>
<span onclick="Messages.addEmoji(this);">🙇</span>
<br /><br />
<!-- Hearts -->
<span onclick="Messages.addEmoji(this);">💛</span>
<span onclick="Messages.addEmoji(this);">💙</span>
<span onclick="Messages.addEmoji(this);">💜</span>
<span onclick="Messages.addEmoji(this);">💚</span>
<span onclick="Messages.addEmoji(this);">❤</span>
<span onclick="Messages.addEmoji(this);">💔</span>
<span onclick="Messages.addEmoji(this);">💗</span>
<span onclick="Messages.addEmoji(this);">💓</span>
<span onclick="Messages.addEmoji(this);">💕</span>
<span onclick="Messages.addEmoji(this);">💖</span>
<span onclick="Messages.addEmoji(this);">💞</span>
<span onclick="Messages.addEmoji(this);">💘</span>
<span onclick="Messages.addEmoji(this);">💌</span>
<span onclick="Messages.addEmoji(this);">💋</span>
<span onclick="Messages.addEmoji(this);">💍</span>
<span onclick="Messages.addEmoji(this);">💎</span>
<span onclick="Messages.addEmoji(this);">👤</span>
<span onclick="Messages.addEmoji(this);">👥</span>
<span onclick="Messages.addEmoji(this);">💬</span>
<span onclick="Messages.addEmoji(this);">👣</span>
<span onclick="Messages.addEmoji(this);">💭</span>




<!-- Head -->
