<!-- Face -->

<span onclick="Messages.addEmoji(this);">😄</span>
<span onclick="Messages.addEmoji(this);">😃</span>
<span onclick="Messages.addEmoji(this);">😀</span>
<span onclick="Messages.addEmoji(this);">😊</span>
<span onclick="Messages.addEmoji(this);">☺</span>
<span onclick="Messages.addEmoji(this);">😉</span>
<span onclick="Messages.addEmoji(this);">😍</span>
<span onclick="Messages.addEmoji(this);">😘</span>
<span onclick="Messages.addEmoji(this);">😚</span>
<span onclick="Messages.addEmoji(this);">😗</span>
<span onclick="Messages.addEmoji(this);">😙</span>
<span onclick="Messages.addEmoji(this);">😜</span>
<span onclick="Messages.addEmoji(this);">😝</span>
<span onclick="Messages.addEmoji(this);">😛</span>
<span onclick="Messages.addEmoji(this);">😳</span>
<span onclick="Messages.addEmoji(this);">😁</span>
<span onclick="Messages.addEmoji(this);">😔</span>
<span onclick="Messages.addEmoji(this);">😌</span>
<span onclick="Messages.addEmoji(this);">😒</span>
<span onclick="Messages.addEmoji(this);">😞</span>
<span onclick="Messages.addEmoji(this);">😣</span>
<span onclick="Messages.addEmoji(this);">😢</span>
<span onclick="Messages.addEmoji(this);">😂</span>
<span onclick="Messages.addEmoji(this);">😭</span>
<span onclick="Messages.addEmoji(this);">😪</span>
<span onclick="Messages.addEmoji(this);">😥</span>
<span onclick="Messages.addEmoji(this);">😰</span>
<span onclick="Messages.addEmoji(this);">😅</span>
<span onclick="Messages.addEmoji(this);">😓</span>
<span onclick="Messages.addEmoji(this);">😩</span>
<span onclick="Messages.addEmoji(this);">😫</span>
<span onclick="Messages.addEmoji(this);">😨</span>
<span onclick="Messages.addEmoji(this);">😱</span>
<span onclick="Messages.addEmoji(this);">😠</span>
<span onclick="Messages.addEmoji(this);">😡</span>
<span onclick="Messages.addEmoji(this);">😤</span>
<span onclick="Messages.addEmoji(this);">😖</span>
<span onclick="Messages.addEmoji(this);">😆</span>
<span onclick="Messages.addEmoji(this);">😋</span>
<span onclick="Messages.addEmoji(this);">😷</span>
<span onclick="Messages.addEmoji(this);">😎</span>
<span onclick="Messages.addEmoji(this);">😴</span>
<span onclick="Messages.addEmoji(this);">😵</span>
<span onclick="Messages.addEmoji(this);">😲</span>
<span onclick="Messages.addEmoji(this);">😟</span>
<span onclick="Messages.addEmoji(this);">😦</span>
<span onclick="Messages.addEmoji(this);">😧</span>
<span onclick="Messages.addEmoji(this);">😈</span>
<span onclick="Messages.addEmoji(this);">👿</span>
<span onclick="Messages.addEmoji(this);">😮</span>
<span onclick="Messages.addEmoji(this);">😬</span>
<span onclick="Messages.addEmoji(this);">😐</span>
<span onclick="Messages.addEmoji(this);">😕</span>
<span onclick="Messages.addEmoji(this);">😯</span>
<span onclick="Messages.addEmoji(this);">😶</span>
<span onclick="Messages.addEmoji(this);">😇</span>
<span onclick="Messages.addEmoji(this);">😏</span>
<span onclick="Messages.addEmoji(this);">😑</span>
<span onclick="Messages.addEmoji(this);">👲</span>
<span onclick="Messages.addEmoji(this);">👳</span>
<span onclick="Messages.addEmoji(this);">👮</span>
<span onclick="Messages.addEmoji(this);">👷</span>
<span onclick="Messages.addEmoji(this);">💂</span>
<span onclick="Messages.addEmoji(this);">👶</span>
<span onclick="Messages.addEmoji(this);">👦</span>
<span onclick="Messages.addEmoji(this);">👧</span>
<span onclick="Messages.addEmoji(this);">👨</span>
<span onclick="Messages.addEmoji(this);">👩</span>
<span onclick="Messages.addEmoji(this);">👴</span>
<span onclick="Messages.addEmoji(this);">👵</span>
<span onclick="Messages.addEmoji(this);">👱</span>
<span onclick="Messages.addEmoji(this);">👼</span>
<span onclick="Messages.addEmoji(this);">👸</span>





<!-- Head -->
