<!-- List : http://unicode.org/emoji/charts/full-emoji-list.html -->
<!-- Face -->
<span onclick="Messages.addEmoji(this);">😀</span>
<span onclick="Messages.addEmoji(this);">😁</span>
<span onclick="Messages.addEmoji(this);">😂</span>
<span onclick="Messages.addEmoji(this);">😃</span>
<span onclick="Messages.addEmoji(this);">😄</span>
<span onclick="Messages.addEmoji(this);">😅</span>
<span onclick="Messages.addEmoji(this);">😆</span>
<span onclick="Messages.addEmoji(this);">😉</span>
<span onclick="Messages.addEmoji(this);">😊</span>
<span onclick="Messages.addEmoji(this);">😋</span>
<span onclick="Messages.addEmoji(this);">😎</span>
<span onclick="Messages.addEmoji(this);">😍</span>
<span onclick="Messages.addEmoji(this);">😘</span>
<span onclick="Messages.addEmoji(this);">😗</span>
<span onclick="Messages.addEmoji(this);">😙</span>
<span onclick="Messages.addEmoji(this);">😚</span>
<span onclick="Messages.addEmoji(this);">☺</span>
<span onclick="Messages.addEmoji(this);">🙂</span>
<span onclick="Messages.addEmoji(this);">🤗</span>
<span onclick="Messages.addEmoji(this);">🤔</span>
<span onclick="Messages.addEmoji(this);">😐</span>
<span onclick="Messages.addEmoji(this);">😑</span>
<span onclick="Messages.addEmoji(this);">😶</span>
<!--<span onclick="Messages.addEmoji(this);">🙄</span>-->
<span onclick="Messages.addEmoji(this);">😏</span>
<span onclick="Messages.addEmoji(this);">😣</span>
<span onclick="Messages.addEmoji(this);">😥</span>
<span onclick="Messages.addEmoji(this);">😮</span>
<span onclick="Messages.addEmoji(this);">🤐</span>
<span onclick="Messages.addEmoji(this);">😯</span>
<span onclick="Messages.addEmoji(this);">😪</span>
<span onclick="Messages.addEmoji(this);">😫</span>
<span onclick="Messages.addEmoji(this);">😴</span>
<span onclick="Messages.addEmoji(this);">😌</span>
<span onclick="Messages.addEmoji(this);">🤓</span>
<span onclick="Messages.addEmoji(this);">😛</span>
<span onclick="Messages.addEmoji(this);">😜</span>
<span onclick="Messages.addEmoji(this);">😝</span>
<!--<span onclick="Messages.addEmoji(this);">🤤</span>-->
<span onclick="Messages.addEmoji(this);">😒</span>
<span onclick="Messages.addEmoji(this);">😓</span>
<span onclick="Messages.addEmoji(this);">😔</span>
<span onclick="Messages.addEmoji(this);">😕</span>
<!--<span onclick="Messages.addEmoji(this);">🙃</span>-->
<span onclick="Messages.addEmoji(this);">🤑</span>
<span onclick="Messages.addEmoji(this);">😲</span>
<span onclick="Messages.addEmoji(this);">☹</span>
<span onclick="Messages.addEmoji(this);">🙁</span>
<span onclick="Messages.addEmoji(this);">😖</span>
<span onclick="Messages.addEmoji(this);">😞</span>
<span onclick="Messages.addEmoji(this);">😟</span>
<span onclick="Messages.addEmoji(this);">😤</span>
<span onclick="Messages.addEmoji(this);">😢</span>
<span onclick="Messages.addEmoji(this);">😭</span>
<span onclick="Messages.addEmoji(this);">😦</span>
<span onclick="Messages.addEmoji(this);">😧</span>
<span onclick="Messages.addEmoji(this);">😨</span>
<span onclick="Messages.addEmoji(this);">😩</span>
<span onclick="Messages.addEmoji(this);">😬</span>
<span onclick="Messages.addEmoji(this);">😰</span>
<span onclick="Messages.addEmoji(this);">😱</span>
<span onclick="Messages.addEmoji(this);">😳</span>
<span onclick="Messages.addEmoji(this);">😵</span>
<span onclick="Messages.addEmoji(this);">😡</span>
<span onclick="Messages.addEmoji(this);">😠</span>
<span onclick="Messages.addEmoji(this);">😇</span>
<!--<span onclick="Messages.addEmoji(this);">🤠</span>-->
<!--<span onclick="Messages.addEmoji(this);">🤡</span>-->
<!--<span onclick="Messages.addEmoji(this);">🤥</span>-->
<span onclick="Messages.addEmoji(this);">😷</span>
<span onclick="Messages.addEmoji(this);">🤒</span>
<span onclick="Messages.addEmoji(this);">🤕</span>
<!--<span onclick="Messages.addEmoji(this);">🤢</span>-->
<!--<span onclick="Messages.addEmoji(this);">🤧</span>-->
<span onclick="Messages.addEmoji(this);">😈</span>
<span onclick="Messages.addEmoji(this);">👿</span>
<span onclick="Messages.addEmoji(this);">👹</span>
<span onclick="Messages.addEmoji(this);">👺</span>
<span onclick="Messages.addEmoji(this);">💀</span>
<span onclick="Messages.addEmoji(this);">☠</span>
<span onclick="Messages.addEmoji(this);">👻</span>
<span onclick="Messages.addEmoji(this);">👽</span>
<span onclick="Messages.addEmoji(this);">👾</span>
<span onclick="Messages.addEmoji(this);">🤖</span>
<span onclick="Messages.addEmoji(this);">💩</span>
<span onclick="Messages.addEmoji(this);">😺</span>
<span onclick="Messages.addEmoji(this);">😸</span>
<span onclick="Messages.addEmoji(this);">😹</span>
<span onclick="Messages.addEmoji(this);">😻</span>
<span onclick="Messages.addEmoji(this);">😼</span>
<span onclick="Messages.addEmoji(this);">😽</span>
<span onclick="Messages.addEmoji(this);">🙀</span>
<span onclick="Messages.addEmoji(this);">😿</span>
<span onclick="Messages.addEmoji(this);">😾</span>
<span onclick="Messages.addEmoji(this);">🙈</span>
<span onclick="Messages.addEmoji(this);">🙉</span>
<span onclick="Messages.addEmoji(this);">🙊</span>
<span onclick="Messages.addEmoji(this);">👦</span>
<span onclick="Messages.addEmoji(this);">👧</span>
<span onclick="Messages.addEmoji(this);">👨</span>
<span onclick="Messages.addEmoji(this);">👩</span>
<span onclick="Messages.addEmoji(this);">👴</span>
<span onclick="Messages.addEmoji(this);">👵</span>
<span onclick="Messages.addEmoji(this);">👶</span>
<span onclick="Messages.addEmoji(this);">👼</span>
<span onclick="Messages.addEmoji(this);">👱</span>
<span onclick="Messages.addEmoji(this);">👮</span>
<span onclick="Messages.addEmoji(this);">👲</span>
<span onclick="Messages.addEmoji(this);">👳</span>
<span onclick="Messages.addEmoji(this);">👷</span>
<span onclick="Messages.addEmoji(this);">👸</span>
<!--<span onclick="Messages.addEmoji(this);">🤴</span>-->
<span onclick="Messages.addEmoji(this);">💂</span>
<span onclick="Messages.addEmoji(this);">🕵</span>
<span onclick="Messages.addEmoji(this);">🎅</span>
<!--/<span onclick="Messages.addEmoji(this);">🤶</span>-->
<span onclick="Messages.addEmoji(this);">👰</span>
<!--<span onclick="Messages.addEmoji(this);">🤵</span>-->
<span onclick="Messages.addEmoji(this);">💆</span>
<span onclick="Messages.addEmoji(this);">💇</span>
<span onclick="Messages.addEmoji(this);">🙍</span>
<span onclick="Messages.addEmoji(this);">🙎</span>
<span onclick="Messages.addEmoji(this);">🙅</span>
<span onclick="Messages.addEmoji(this);">🙆</span>
<span onclick="Messages.addEmoji(this);">💁</span>
<!--<span onclick="Messages.addEmoji(this);">🤷</span>-->
<span onclick="Messages.addEmoji(this);">🙋</span>
<!--<span onclick="Messages.addEmoji(this);">🤦</span>-->
<span onclick="Messages.addEmoji(this);">🙇</span>
<span onclick="Messages.addEmoji(this);">🚶</span>
<span onclick="Messages.addEmoji(this);">🏃</span>
<span onclick="Messages.addEmoji(this);">💃</span>
<!--<span onclick="Messages.addEmoji(this);">🕺</span>-->
<!--<span onclick="Messages.addEmoji(this);">🤰</span>-->
<span onclick="Messages.addEmoji(this);">👯</span>
<span onclick="Messages.addEmoji(this);">🕴</span>
<span onclick="Messages.addEmoji(this);">🗣</span>
<span onclick="Messages.addEmoji(this);">👤</span>
<span onclick="Messages.addEmoji(this);">👥</span>
<span onclick="Messages.addEmoji(this);">👫</span>
<span onclick="Messages.addEmoji(this);">👬</span>
<span onclick="Messages.addEmoji(this);">👭</span>
<span onclick="Messages.addEmoji(this);">💏</span>
<span onclick="Messages.addEmoji(this);">👩‍❤️‍💋‍👨</span>
<span onclick="Messages.addEmoji(this);">💑</span>
<span onclick="Messages.addEmoji(this);">👪</span>
<br /><br />
<span onclick="Messages.addEmoji(this);">💪</span>
<!--<span onclick="Messages.addEmoji(this);">🤳</span>-->
<span onclick="Messages.addEmoji(this);">👈</span>
<span onclick="Messages.addEmoji(this);">👉</span>
<span onclick="Messages.addEmoji(this);">☝</span>
<span onclick="Messages.addEmoji(this);">👆</span>
<span onclick="Messages.addEmoji(this);">🖕</span>
<span onclick="Messages.addEmoji(this);">👇</span>
<span onclick="Messages.addEmoji(this);">✌</span>
<!--<span onclick="Messages.addEmoji(this);">🤞</span>-->
<span onclick="Messages.addEmoji(this);">🖖</span>
<span onclick="Messages.addEmoji(this);">🤘</span>
<!--<span onclick="Messages.addEmoji(this);">🤙</span>-->
<span onclick="Messages.addEmoji(this);">🖐</span>
<span onclick="Messages.addEmoji(this);">✋</span>
<span onclick="Messages.addEmoji(this);">👌</span>
<span onclick="Messages.addEmoji(this);">👍</span>
<span onclick="Messages.addEmoji(this);">👎</span>
<span onclick="Messages.addEmoji(this);">✊</span>
<span onclick="Messages.addEmoji(this);">👊</span>
<!--<span onclick="Messages.addEmoji(this);">🤛</span>-->
<!--<span onclick="Messages.addEmoji(this);">🤜</span>-->
<!--<span onclick="Messages.addEmoji(this);">🤚</span>-->
<span onclick="Messages.addEmoji(this);">👋</span>
<span onclick="Messages.addEmoji(this);">👏</span>
<span onclick="Messages.addEmoji(this);">✍</span>
<span onclick="Messages.addEmoji(this);">👐</span>
<span onclick="Messages.addEmoji(this);">🙌</span>
<span onclick="Messages.addEmoji(this);">🙏</span>
<!--<span onclick="Messages.addEmoji(this);">🤝</span>-->
<span onclick="Messages.addEmoji(this);">💅</span>
<span onclick="Messages.addEmoji(this);">👂</span>
<span onclick="Messages.addEmoji(this);">👃</span>
<span onclick="Messages.addEmoji(this);">👣</span>
<span onclick="Messages.addEmoji(this);">👀</span>
<span onclick="Messages.addEmoji(this);">👁</span>
<span onclick="Messages.addEmoji(this);">👁‍🗨</span>
<span onclick="Messages.addEmoji(this);">👅</span>
<span onclick="Messages.addEmoji(this);">👄</span>
<span onclick="Messages.addEmoji(this);">💋</span>
<span onclick="Messages.addEmoji(this);">💘</span>
<span onclick="Messages.addEmoji(this);">❤</span>
<span onclick="Messages.addEmoji(this);">💓</span>
<span onclick="Messages.addEmoji(this);">💔</span>
<span onclick="Messages.addEmoji(this);">💕</span>
<span onclick="Messages.addEmoji(this);">💖</span>
<span onclick="Messages.addEmoji(this);">💗</span>
<span onclick="Messages.addEmoji(this);">💙</span>
<span onclick="Messages.addEmoji(this);">💚</span>
<span onclick="Messages.addEmoji(this);">💛</span>
<span onclick="Messages.addEmoji(this);">💜</span>
<!--<span onclick="Messages.addEmoji(this);">🖤</span>-->
<span onclick="Messages.addEmoji(this);">💝</span>
<span onclick="Messages.addEmoji(this);">💞</span>
<span onclick="Messages.addEmoji(this);">💟</span>
<span onclick="Messages.addEmoji(this);">❣</span>
<span onclick="Messages.addEmoji(this);">💌</span>
<span onclick="Messages.addEmoji(this);">💤</span>
<span onclick="Messages.addEmoji(this);">💢</span>
<span onclick="Messages.addEmoji(this);">💣</span>
<span onclick="Messages.addEmoji(this);">💥</span>
<span onclick="Messages.addEmoji(this);">💦</span>
<span onclick="Messages.addEmoji(this);">💨</span>
<span onclick="Messages.addEmoji(this);">💫</span>
<span onclick="Messages.addEmoji(this);">💬</span>
<span onclick="Messages.addEmoji(this);">🗨</span>
<span onclick="Messages.addEmoji(this);">🗯</span>
<span onclick="Messages.addEmoji(this);">💭</span>
<span onclick="Messages.addEmoji(this);">🕳</span>
<span onclick="Messages.addEmoji(this);">👓</span>
<span onclick="Messages.addEmoji(this);">🕶</span>
<span onclick="Messages.addEmoji(this);">👔</span>
<span onclick="Messages.addEmoji(this);">👕</span>
<span onclick="Messages.addEmoji(this);">👖</span>
<span onclick="Messages.addEmoji(this);">👗</span>
<span onclick="Messages.addEmoji(this);">👘</span>
<span onclick="Messages.addEmoji(this);">👙</span>
<span onclick="Messages.addEmoji(this);">👚</span>
<span onclick="Messages.addEmoji(this);">👛</span>
<span onclick="Messages.addEmoji(this);">👜</span>
<span onclick="Messages.addEmoji(this);">👝</span>
<span onclick="Messages.addEmoji(this);">🛍</span>
<span onclick="Messages.addEmoji(this);">🎒</span>
<span onclick="Messages.addEmoji(this);">👞</span>
<span onclick="Messages.addEmoji(this);">👟</span>
<span onclick="Messages.addEmoji(this);">👠</span>
<span onclick="Messages.addEmoji(this);">👡</span>
<span onclick="Messages.addEmoji(this);">👢</span>
<span onclick="Messages.addEmoji(this);">👑</span>
<span onclick="Messages.addEmoji(this);">👒</span>
<span onclick="Messages.addEmoji(this);">🎩</span>
<span onclick="Messages.addEmoji(this);">🎓</span>
<span onclick="Messages.addEmoji(this);">⛑</span>
<span onclick="Messages.addEmoji(this);">📿</span>
<span onclick="Messages.addEmoji(this);">💄</span>
<span onclick="Messages.addEmoji(this);">💍</span>
<span onclick="Messages.addEmoji(this);">💎</span>
<br /><br />
<span onclick="Messages.addEmoji(this);">🐵</span>
<span onclick="Messages.addEmoji(this);">🐒</span>
<!--<span onclick="Messages.addEmoji(this);">🦍</span>-->
<span onclick="Messages.addEmoji(this);">🐶</span>
<span onclick="Messages.addEmoji(this);">🐕</span>
<span onclick="Messages.addEmoji(this);">🐩</span>
<span onclick="Messages.addEmoji(this);">🐺</span>
<!--<span onclick="Messages.addEmoji(this);">🦊</span>-->
<span onclick="Messages.addEmoji(this);">🐱</span>
<span onclick="Messages.addEmoji(this);">🐈</span>
<span onclick="Messages.addEmoji(this);">🦁</span>
<span onclick="Messages.addEmoji(this);">🐯</span>
<span onclick="Messages.addEmoji(this);">🐅</span>
<span onclick="Messages.addEmoji(this);">🐆</span>
<span onclick="Messages.addEmoji(this);">🐴</span>
<span onclick="Messages.addEmoji(this);">🐎</span>
<!--<span onclick="Messages.addEmoji(this);">🦌</span>-->
<span onclick="Messages.addEmoji(this);">🦄</span>
<span onclick="Messages.addEmoji(this);">🐮</span>
<span onclick="Messages.addEmoji(this);">🐂</span>
<span onclick="Messages.addEmoji(this);">🐃</span>
<span onclick="Messages.addEmoji(this);">🐄</span>
<span onclick="Messages.addEmoji(this);">🐷</span>
<span onclick="Messages.addEmoji(this);">🐖</span>
<span onclick="Messages.addEmoji(this);">🐗</span>
<span onclick="Messages.addEmoji(this);">🐽</span>
<span onclick="Messages.addEmoji(this);">🐏</span>
<span onclick="Messages.addEmoji(this);">🐑</span>
<span onclick="Messages.addEmoji(this);">🐐</span>
<span onclick="Messages.addEmoji(this);">🐪</span>
<span onclick="Messages.addEmoji(this);">🐫</span>
<span onclick="Messages.addEmoji(this);">🐘</span>
<!--<span onclick="Messages.addEmoji(this);">🦏</span>-->
<span onclick="Messages.addEmoji(this);">🐭</span>
<span onclick="Messages.addEmoji(this);">🐁</span>
<span onclick="Messages.addEmoji(this);">🐀</span>
<span onclick="Messages.addEmoji(this);">🐹</span>
<span onclick="Messages.addEmoji(this);">🐰</span>
<span onclick="Messages.addEmoji(this);">🐇</span>
<span onclick="Messages.addEmoji(this);">🐿</span>
<!--<span onclick="Messages.addEmoji(this);">🦇</span>-->
<span onclick="Messages.addEmoji(this);">🐻</span>
<span onclick="Messages.addEmoji(this);">🐨</span>
<span onclick="Messages.addEmoji(this);">🐼</span>
<span onclick="Messages.addEmoji(this);">🐾</span>
<span onclick="Messages.addEmoji(this);">🦃</span>
<span onclick="Messages.addEmoji(this);">🐔</span>
<span onclick="Messages.addEmoji(this);">🐓</span>
<span onclick="Messages.addEmoji(this);">🐣</span>
<span onclick="Messages.addEmoji(this);">🐤</span>
<span onclick="Messages.addEmoji(this);">🐥</span>
<span onclick="Messages.addEmoji(this);">🐦</span>
<span onclick="Messages.addEmoji(this);">🐧</span>
<span onclick="Messages.addEmoji(this);">🕊</span>
<!--<span onclick="Messages.addEmoji(this);">🦅</span>-->
<!--<span onclick="Messages.addEmoji(this);">🦆</span>-->
<!--<span onclick="Messages.addEmoji(this);">🦉</span>-->
<span onclick="Messages.addEmoji(this);">🐸</span>
<span onclick="Messages.addEmoji(this);">🐊</span>
<span onclick="Messages.addEmoji(this);">🐢</span>
<!--<span onclick="Messages.addEmoji(this);">🦎</span>-->
<span onclick="Messages.addEmoji(this);">🐍</span>
<span onclick="Messages.addEmoji(this);">🐲</span>
<span onclick="Messages.addEmoji(this);">🐉</span>
<span onclick="Messages.addEmoji(this);">🐳</span>
<span onclick="Messages.addEmoji(this);">🐋</span>
<span onclick="Messages.addEmoji(this);">🐬</span>
<span onclick="Messages.addEmoji(this);">🐟</span>
<span onclick="Messages.addEmoji(this);">🐠</span>
<span onclick="Messages.addEmoji(this);">🐡</span>
<!--<span onclick="Messages.addEmoji(this);">🦈</span>-->
<span onclick="Messages.addEmoji(this);">🐙</span>
<span onclick="Messages.addEmoji(this);">🐚</span>
<span onclick="Messages.addEmoji(this);">🦀</span>
<!--<span onclick="Messages.addEmoji(this);">🦐</span>-->
<!--<span onclick="Messages.addEmoji(this);">🦑</span>-->
<!--<span onclick="Messages.addEmoji(this);">🦋</span>-->
<span onclick="Messages.addEmoji(this);">🐌</span>
<span onclick="Messages.addEmoji(this);">🐛</span>
<span onclick="Messages.addEmoji(this);">🐜</span>
<span onclick="Messages.addEmoji(this);">🐝</span>
<span onclick="Messages.addEmoji(this);">🐞</span>
<span onclick="Messages.addEmoji(this);">🕷</span>
<span onclick="Messages.addEmoji(this);">🕸</span>
<span onclick="Messages.addEmoji(this);">🦂</span>
<br /><br />
<span onclick="Messages.addEmoji(this);">💐</span>
<span onclick="Messages.addEmoji(this);">🌸</span>
<span onclick="Messages.addEmoji(this);">💮</span>
<span onclick="Messages.addEmoji(this);">🏵</span>
<span onclick="Messages.addEmoji(this);">🌹</span>
<!--<span onclick="Messages.addEmoji(this);">🥀</span>-->
<span onclick="Messages.addEmoji(this);">🌺</span>
<span onclick="Messages.addEmoji(this);">🌻</span>
<span onclick="Messages.addEmoji(this);">🌼</span>
<span onclick="Messages.addEmoji(this);">🌷</span>
<span onclick="Messages.addEmoji(this);">🌱</span>
<span onclick="Messages.addEmoji(this);">🌲</span>
<span onclick="Messages.addEmoji(this);">🌳</span>
<span onclick="Messages.addEmoji(this);">🌴</span>
<span onclick="Messages.addEmoji(this);">🌵</span>
<span onclick="Messages.addEmoji(this);">🌾</span>
<span onclick="Messages.addEmoji(this);">🌿</span>
<span onclick="Messages.addEmoji(this);">☘</span>
<span onclick="Messages.addEmoji(this);">🍀</span>
<span onclick="Messages.addEmoji(this);">🍁</span>
<span onclick="Messages.addEmoji(this);">🍂</span>
<span onclick="Messages.addEmoji(this);">🍃</span>
<span onclick="Messages.addEmoji(this);">🍇</span>
<span onclick="Messages.addEmoji(this);">🍈</span>
<span onclick="Messages.addEmoji(this);">🍉</span>
<span onclick="Messages.addEmoji(this);">🍊</span>
<span onclick="Messages.addEmoji(this);">🍋</span>
<span onclick="Messages.addEmoji(this);">🍌</span>
<span onclick="Messages.addEmoji(this);">🍍</span>
<span onclick="Messages.addEmoji(this);">🍎</span>
<span onclick="Messages.addEmoji(this);">🍏</span>
<span onclick="Messages.addEmoji(this);">🍐</span>
<span onclick="Messages.addEmoji(this);">🍑</span>
<span onclick="Messages.addEmoji(this);">🍒</span>
<span onclick="Messages.addEmoji(this);">🍓</span>
<span onclick="Messages.addEmoji(this);">🍅</span>
<!--<span onclick="Messages.addEmoji(this);">🥝</span>-->
<!--<span onclick="Messages.addEmoji(this);">🥑</span>-->
<span onclick="Messages.addEmoji(this);">🍆</span>
<!--<span onclick="Messages.addEmoji(this);">🥔</span>-->
<!--<span onclick="Messages.addEmoji(this);">🥕</span>-->
<span onclick="Messages.addEmoji(this);">🌽</span>
<span onclick="Messages.addEmoji(this);">🌶</span>
<!--<span onclick="Messages.addEmoji(this);">🥒</span>-->
<span onclick="Messages.addEmoji(this);">🍄</span>
<!--<span onclick="Messages.addEmoji(this);">🥜</span>-->
<span onclick="Messages.addEmoji(this);">🌰</span>
<br /><br />
<span onclick="Messages.addEmoji(this);">🍞</span>
<!--<span onclick="Messages.addEmoji(this);">🥐</span>-->
<!--<span onclick="Messages.addEmoji(this);">🥖</span>-->
<!--<span onclick="Messages.addEmoji(this);">🥞</span>-->
<span onclick="Messages.addEmoji(this);">🧀</span>
<span onclick="Messages.addEmoji(this);">🍖</span>
<span onclick="Messages.addEmoji(this);">🍗</span>
<!--<span onclick="Messages.addEmoji(this);">🥓</span>-->
<span onclick="Messages.addEmoji(this);">🍔</span>
<span onclick="Messages.addEmoji(this);">🍟</span>
<span onclick="Messages.addEmoji(this);">🍕</span>
<span onclick="Messages.addEmoji(this);">🌭</span>
<span onclick="Messages.addEmoji(this);">🌮</span>
<span onclick="Messages.addEmoji(this);">🌯</span>
<!--<span onclick="Messages.addEmoji(this);">🥙</span>-->
<!--<span onclick="Messages.addEmoji(this);">🥚</span>-->
<span onclick="Messages.addEmoji(this);">🍳</span>
<!--<span onclick="Messages.addEmoji(this);">🥘</span>-->
<span onclick="Messages.addEmoji(this);">🍲</span>
<!--<span onclick="Messages.addEmoji(this);">🥗</span>-->
<span onclick="Messages.addEmoji(this);">🍿</span>
<span onclick="Messages.addEmoji(this);">🍱</span>
<span onclick="Messages.addEmoji(this);">🍘</span>
<span onclick="Messages.addEmoji(this);">🍙</span>
<span onclick="Messages.addEmoji(this);">🍚</span>
<span onclick="Messages.addEmoji(this);">🍛</span>
<span onclick="Messages.addEmoji(this);">🍜</span>
<span onclick="Messages.addEmoji(this);">🍝</span>
<span onclick="Messages.addEmoji(this);">🍠</span>
<span onclick="Messages.addEmoji(this);">🍢</span>
<span onclick="Messages.addEmoji(this);">🍣</span>
<span onclick="Messages.addEmoji(this);">🍤</span>
<span onclick="Messages.addEmoji(this);">🍥</span>
<span onclick="Messages.addEmoji(this);">🍡</span>
<span onclick="Messages.addEmoji(this);">🍦</span>
<span onclick="Messages.addEmoji(this);">🍧</span>
<span onclick="Messages.addEmoji(this);">🍨</span>
<span onclick="Messages.addEmoji(this);">🍩</span>
<span onclick="Messages.addEmoji(this);">🍪</span>
<span onclick="Messages.addEmoji(this);">🎂</span>
<span onclick="Messages.addEmoji(this);">🍰</span>
<span onclick="Messages.addEmoji(this);">🍫</span>
<span onclick="Messages.addEmoji(this);">🍬</span>
<span onclick="Messages.addEmoji(this);">🍭</span>
<span onclick="Messages.addEmoji(this);">🍮</span>
<span onclick="Messages.addEmoji(this);">🍯</span>
<span onclick="Messages.addEmoji(this);">🍼</span>
<!--<span onclick="Messages.addEmoji(this);">🥛</span>-->
<span onclick="Messages.addEmoji(this);">☕</span>
<span onclick="Messages.addEmoji(this);">🍵</span>
<span onclick="Messages.addEmoji(this);">🍶</span>
<span onclick="Messages.addEmoji(this);">🍾</span>
<span onclick="Messages.addEmoji(this);">🍷</span>
<span onclick="Messages.addEmoji(this);">🍸</span>
<span onclick="Messages.addEmoji(this);">🍹</span>
<span onclick="Messages.addEmoji(this);">🍺</span>
<span onclick="Messages.addEmoji(this);">🍻</span>
<!--<span onclick="Messages.addEmoji(this);">🥂</span>-->
<!--<span onclick="Messages.addEmoji(this);">🥃</span>-->
<span onclick="Messages.addEmoji(this);">🍽</span>
<span onclick="Messages.addEmoji(this);">🍴</span>
<!--<span onclick="Messages.addEmoji(this);">🥄</span>-->
<span onclick="Messages.addEmoji(this);">🔪</span>
<span onclick="Messages.addEmoji(this);">🏺</span>
<br /><br />
<span onclick="Messages.addEmoji(this);">🌍</span>
<span onclick="Messages.addEmoji(this);">🌎</span>
<span onclick="Messages.addEmoji(this);">🌏</span>
<span onclick="Messages.addEmoji(this);">🌐</span>
<span onclick="Messages.addEmoji(this);">🗺</span>
<span onclick="Messages.addEmoji(this);">🗾</span>
<span onclick="Messages.addEmoji(this);">🏔</span>
<span onclick="Messages.addEmoji(this);">⛰</span>
<span onclick="Messages.addEmoji(this);">🌋</span>
<span onclick="Messages.addEmoji(this);">🗻</span>
<span onclick="Messages.addEmoji(this);">🏕</span>
<span onclick="Messages.addEmoji(this);">🏖</span>
<span onclick="Messages.addEmoji(this);">🏜</span>
<span onclick="Messages.addEmoji(this);">🏝</span>
<span onclick="Messages.addEmoji(this);">🏞</span>
<span onclick="Messages.addEmoji(this);">🏟</span>
<span onclick="Messages.addEmoji(this);">🏛</span>
<span onclick="Messages.addEmoji(this);">🏗</span>
<span onclick="Messages.addEmoji(this);">🏘</span>
<span onclick="Messages.addEmoji(this);">🏙</span>
<span onclick="Messages.addEmoji(this);">🏚</span>
<span onclick="Messages.addEmoji(this);">🏠</span>
<span onclick="Messages.addEmoji(this);">🏡</span>
<span onclick="Messages.addEmoji(this);">🏢</span>
<span onclick="Messages.addEmoji(this);">🏣</span>
<span onclick="Messages.addEmoji(this);">🏤</span>
<span onclick="Messages.addEmoji(this);">🏥</span>
<span onclick="Messages.addEmoji(this);">🏦</span>
<span onclick="Messages.addEmoji(this);">🏨</span>
<span onclick="Messages.addEmoji(this);">🏩</span>
<span onclick="Messages.addEmoji(this);">🏪</span>
<span onclick="Messages.addEmoji(this);">🏫</span>
<span onclick="Messages.addEmoji(this);">🏬</span>
<span onclick="Messages.addEmoji(this);">🏭</span>
<span onclick="Messages.addEmoji(this);">🏯</span>
<span onclick="Messages.addEmoji(this);">🏰</span>
<span onclick="Messages.addEmoji(this);">💒</span>
<span onclick="Messages.addEmoji(this);">🗼</span>
<span onclick="Messages.addEmoji(this);">🗽</span>
<span onclick="Messages.addEmoji(this);">⛪</span>
<span onclick="Messages.addEmoji(this);">🕌</span>
<span onclick="Messages.addEmoji(this);">🕍</span>
<span onclick="Messages.addEmoji(this);">⛩</span>
<span onclick="Messages.addEmoji(this);">🕋</span>
<span onclick="Messages.addEmoji(this);">⛲</span>
<span onclick="Messages.addEmoji(this);">⛺</span>
<span onclick="Messages.addEmoji(this);">🌁</span>
<span onclick="Messages.addEmoji(this);">🌃</span>
<span onclick="Messages.addEmoji(this);">🌄</span>
<span onclick="Messages.addEmoji(this);">🌅</span>
<span onclick="Messages.addEmoji(this);">🌆</span>
<span onclick="Messages.addEmoji(this);">🌇</span>
<span onclick="Messages.addEmoji(this);">🌉</span>
<span onclick="Messages.addEmoji(this);">♨</span>
<span onclick="Messages.addEmoji(this);">🌌</span>
<span onclick="Messages.addEmoji(this);">🎠</span>
<span onclick="Messages.addEmoji(this);">🎡</span>
<span onclick="Messages.addEmoji(this);">🎢</span>
<span onclick="Messages.addEmoji(this);">💈</span>
<span onclick="Messages.addEmoji(this);">🎪</span>
<span onclick="Messages.addEmoji(this);">🎭</span>
<span onclick="Messages.addEmoji(this);">🖼</span>
<span onclick="Messages.addEmoji(this);">🎨</span>
<span onclick="Messages.addEmoji(this);">🎰</span>
<br /><br />
<span onclick="Messages.addEmoji(this);">🚂</span>
<span onclick="Messages.addEmoji(this);">🚃</span>
<span onclick="Messages.addEmoji(this);">🚄</span>
<span onclick="Messages.addEmoji(this);">🚅</span>
<span onclick="Messages.addEmoji(this);">🚆</span>
<span onclick="Messages.addEmoji(this);">🚇</span>
<span onclick="Messages.addEmoji(this);">🚈</span>
<span onclick="Messages.addEmoji(this);">🚉</span>
<span onclick="Messages.addEmoji(this);">🚊</span>
<span onclick="Messages.addEmoji(this);">🚝</span>
<span onclick="Messages.addEmoji(this);">🚞</span>
<span onclick="Messages.addEmoji(this);">🚋</span>
<span onclick="Messages.addEmoji(this);">🚌</span>
<span onclick="Messages.addEmoji(this);">🚍</span>
<span onclick="Messages.addEmoji(this);">🚎</span>
<span onclick="Messages.addEmoji(this);">🚏</span>
<span onclick="Messages.addEmoji(this);">🚐</span>
<span onclick="Messages.addEmoji(this);">🚑</span>
<span onclick="Messages.addEmoji(this);">🚒</span>
<span onclick="Messages.addEmoji(this);">🚓</span>
<span onclick="Messages.addEmoji(this);">🚔</span>
<span onclick="Messages.addEmoji(this);">🚕</span>
<span onclick="Messages.addEmoji(this);">🚖</span>
<span onclick="Messages.addEmoji(this);">🚗</span>
<span onclick="Messages.addEmoji(this);">🚘</span>
<span onclick="Messages.addEmoji(this);">🚙</span>
<span onclick="Messages.addEmoji(this);">🚚</span>
<span onclick="Messages.addEmoji(this);">🚛</span>
<span onclick="Messages.addEmoji(this);">🚜</span>
<span onclick="Messages.addEmoji(this);">🚲</span>
<span onclick="Messages.addEmoji(this);">⛽</span>
<span onclick="Messages.addEmoji(this);">🛣</span>
<span onclick="Messages.addEmoji(this);">🛤</span>
<span onclick="Messages.addEmoji(this);">🚨</span>
<span onclick="Messages.addEmoji(this);">🚥</span>
<span onclick="Messages.addEmoji(this);">🚦</span>
<span onclick="Messages.addEmoji(this);">🚧</span>
<!--<span onclick="Messages.addEmoji(this);">🛑</span>-->
<!--<span onclick="Messages.addEmoji(this);">🛴</span>-->
<!--<span onclick="Messages.addEmoji(this);">🛵</span>-->
<span onclick="Messages.addEmoji(this);">⚓</span>
<span onclick="Messages.addEmoji(this);">⛵</span>
<span onclick="Messages.addEmoji(this);">🚣</span>
<!--<span onclick="Messages.addEmoji(this);">🛶</span>-->
<span onclick="Messages.addEmoji(this);">🚤</span>
<span onclick="Messages.addEmoji(this);">🛳</span>
<span onclick="Messages.addEmoji(this);">⛴</span>
<span onclick="Messages.addEmoji(this);">🛥</span>
<span onclick="Messages.addEmoji(this);">🚢</span>
<span onclick="Messages.addEmoji(this);">✈</span>
<span onclick="Messages.addEmoji(this);">🛩</span>
<span onclick="Messages.addEmoji(this);">🛫</span>
<span onclick="Messages.addEmoji(this);">🛬</span>
<span onclick="Messages.addEmoji(this);">💺</span>
<span onclick="Messages.addEmoji(this);">🚁</span>
<span onclick="Messages.addEmoji(this);">🚟</span>
<span onclick="Messages.addEmoji(this);">🚠</span>
<span onclick="Messages.addEmoji(this);">🚡</span>
<span onclick="Messages.addEmoji(this);">🚀</span>
<span onclick="Messages.addEmoji(this);">🛰</span>
<span onclick="Messages.addEmoji(this);">🛎</span>
<span onclick="Messages.addEmoji(this);">🚪</span>
<span onclick="Messages.addEmoji(this);">🛌</span>
<span onclick="Messages.addEmoji(this);">🛏</span>
<span onclick="Messages.addEmoji(this);">🛋</span>
<span onclick="Messages.addEmoji(this);">🚽</span>
<span onclick="Messages.addEmoji(this);">🚿</span>
<span onclick="Messages.addEmoji(this);">🛀</span>
<br /><br />
<span onclick="Messages.addEmoji(this);">⌛</span>
<span onclick="Messages.addEmoji(this);">⏳</span>
<span onclick="Messages.addEmoji(this);">⌚</span>
<span onclick="Messages.addEmoji(this);">⏰</span>
<span onclick="Messages.addEmoji(this);">⏱</span>
<span onclick="Messages.addEmoji(this);">⏲</span>
<span onclick="Messages.addEmoji(this);">🕰</span>
<span onclick="Messages.addEmoji(this);">🕛</span>
<span onclick="Messages.addEmoji(this);">🕧</span>
<span onclick="Messages.addEmoji(this);">🕐</span>
<span onclick="Messages.addEmoji(this);">🕜</span>
<span onclick="Messages.addEmoji(this);">🕑</span>
<span onclick="Messages.addEmoji(this);">🕝</span>
<span onclick="Messages.addEmoji(this);">🕒</span>
<span onclick="Messages.addEmoji(this);">🕞</span>
<span onclick="Messages.addEmoji(this);">🕓</span>
<span onclick="Messages.addEmoji(this);">🕟</span>
<span onclick="Messages.addEmoji(this);">🕔</span>
<span onclick="Messages.addEmoji(this);">🕠</span>
<span onclick="Messages.addEmoji(this);">🕕</span>
<span onclick="Messages.addEmoji(this);">🕡</span>
<span onclick="Messages.addEmoji(this);">🕖</span>
<span onclick="Messages.addEmoji(this);">🕢</span>
<span onclick="Messages.addEmoji(this);">🕗</span>
<span onclick="Messages.addEmoji(this);">🕣</span>
<span onclick="Messages.addEmoji(this);">🕘</span>
<span onclick="Messages.addEmoji(this);">🕤</span>
<span onclick="Messages.addEmoji(this);">🕙</span>
<span onclick="Messages.addEmoji(this);">🕥</span>
<span onclick="Messages.addEmoji(this);">🕚</span>
<span onclick="Messages.addEmoji(this);">🕦</span>
<br /><br />
<span onclick="Messages.addEmoji(this);">🌑</span>
<span onclick="Messages.addEmoji(this);">🌒</span>
<span onclick="Messages.addEmoji(this);">🌓</span>
<span onclick="Messages.addEmoji(this);">🌔</span>
<span onclick="Messages.addEmoji(this);">🌕</span>
<span onclick="Messages.addEmoji(this);">🌖</span>
<span onclick="Messages.addEmoji(this);">🌗</span>
<span onclick="Messages.addEmoji(this);">🌘</span>
<span onclick="Messages.addEmoji(this);">🌙</span>
<span onclick="Messages.addEmoji(this);">🌚</span>
<span onclick="Messages.addEmoji(this);">🌛</span>
<span onclick="Messages.addEmoji(this);">🌜</span>
<span onclick="Messages.addEmoji(this);">🌡</span>
<span onclick="Messages.addEmoji(this);">☀</span>
<span onclick="Messages.addEmoji(this);">🌝</span>
<span onclick="Messages.addEmoji(this);">🌞</span>
<span onclick="Messages.addEmoji(this);">⭐</span>
<span onclick="Messages.addEmoji(this);">🌟</span>
<span onclick="Messages.addEmoji(this);">🌠</span>
<span onclick="Messages.addEmoji(this);">☁</span>
<span onclick="Messages.addEmoji(this);">⛅</span>
<span onclick="Messages.addEmoji(this);">⛈</span>
<span onclick="Messages.addEmoji(this);">🌤</span>
<span onclick="Messages.addEmoji(this);">🌥</span>
<span onclick="Messages.addEmoji(this);">🌦</span>
<span onclick="Messages.addEmoji(this);">🌧</span>
<span onclick="Messages.addEmoji(this);">🌨</span>
<span onclick="Messages.addEmoji(this);">🌩</span>
<span onclick="Messages.addEmoji(this);">🌪</span>
<span onclick="Messages.addEmoji(this);">🌫</span>
<span onclick="Messages.addEmoji(this);">🌬</span>
<span onclick="Messages.addEmoji(this);">🌀</span>
<span onclick="Messages.addEmoji(this);">🌈</span>
<span onclick="Messages.addEmoji(this);">🌂</span>
<span onclick="Messages.addEmoji(this);">☂</span>
<span onclick="Messages.addEmoji(this);">☔</span>
<span onclick="Messages.addEmoji(this);">⛱</span>
<span onclick="Messages.addEmoji(this);">⚡</span>
<span onclick="Messages.addEmoji(this);">❄</span>
<span onclick="Messages.addEmoji(this);">☃</span>
<span onclick="Messages.addEmoji(this);">⛄</span>
<span onclick="Messages.addEmoji(this);">☄</span>
<span onclick="Messages.addEmoji(this);">🔥</span>
<span onclick="Messages.addEmoji(this);">💧</span>
<span onclick="Messages.addEmoji(this);">🌊</span>
<br /><br />
<span onclick="Messages.addEmoji(this);">🎃</span>
<span onclick="Messages.addEmoji(this);">🎄</span>
<span onclick="Messages.addEmoji(this);">🎆</span>
<span onclick="Messages.addEmoji(this);">🎇</span>
<span onclick="Messages.addEmoji(this);">✨</span>
<span onclick="Messages.addEmoji(this);">🎈</span>
<span onclick="Messages.addEmoji(this);">🎉</span>
<span onclick="Messages.addEmoji(this);">🎊</span>
<span onclick="Messages.addEmoji(this);">🎋</span>
<span onclick="Messages.addEmoji(this);">🎍</span>
<span onclick="Messages.addEmoji(this);">🎎</span>
<span onclick="Messages.addEmoji(this);">🎏</span>
<span onclick="Messages.addEmoji(this);">🎐</span>
<span onclick="Messages.addEmoji(this);">🎑</span>
<span onclick="Messages.addEmoji(this);">🎀</span>
<span onclick="Messages.addEmoji(this);">🎁</span>
<span onclick="Messages.addEmoji(this);">🎗</span>
<span onclick="Messages.addEmoji(this);">🎟</span>
<span onclick="Messages.addEmoji(this);">🎫</span>
<br /><br />
<span onclick="Messages.addEmoji(this);">🎖</span>
<span onclick="Messages.addEmoji(this);">🏆</span>
<span onclick="Messages.addEmoji(this);">🏅</span>
<!--<span onclick="Messages.addEmoji(this);">🥇</span>-->
<!--<span onclick="Messages.addEmoji(this);">🥈</span>-->
<!--<span onclick="Messages.addEmoji(this);">🥉</span>-->
<span onclick="Messages.addEmoji(this);">⚽</span>
<span onclick="Messages.addEmoji(this);">⚾</span>
<span onclick="Messages.addEmoji(this);">🏀</span>
<span onclick="Messages.addEmoji(this);">🏐</span>
<span onclick="Messages.addEmoji(this);">🏈</span>
<span onclick="Messages.addEmoji(this);">🏉</span>
<span onclick="Messages.addEmoji(this);">🎾</span>
<span onclick="Messages.addEmoji(this);">🎱</span>
<span onclick="Messages.addEmoji(this);">🎳</span>
<span onclick="Messages.addEmoji(this);">🏏</span>
<span onclick="Messages.addEmoji(this);">🏑</span>
<span onclick="Messages.addEmoji(this);">🏒</span>
<span onclick="Messages.addEmoji(this);">🏓</span>
<span onclick="Messages.addEmoji(this);">🏸</span>
<!--<span onclick="Messages.addEmoji(this);">🥊</span>-->
<!--<span onclick="Messages.addEmoji(this);">🥋</span>-->
<span onclick="Messages.addEmoji(this);">⛳</span>
<span onclick="Messages.addEmoji(this);">🏌</span>
<span onclick="Messages.addEmoji(this);">⛸</span>
<span onclick="Messages.addEmoji(this);">🎣</span>

