
<div class="messages_body">
	<!--
	<div class="mdl-card__title">
		<h2 class="mdl-card__title-text">{{ lang['messages_subtitle'] | e }}</h2>
	</div>
	-->
	<div class="card1 mdl-grid">
		<div class="messages_contacts messages_bloc mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp">
			
			<ul class="messages_contacts_list mdl-list">
				<li class="mdl-list__item mdl-list__item--three-line">
					<span class="mdl-list__item-primary-content">
						<i class="material-icons mdl-list__item-avatar">person</i>
						<span>Bryan Cranston</span>
						<span class="mdl-list__item-text-body">
							Bryan Cranston played the role of Walter ... - 17/15/2016
						</span>
					</span>
				</li>
			</ul>
		</div>

		<div class="messages_bloc mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--3dp">
			
			<div id="messages_title">Bryan Cranston</div>
			<div id="messages_list">
				<!-- IF RECEIVE -->
				<div class="messages_sms_receive">
					<div class="messages_sms_avatar">
						<i class="material-icons mdl-list__item-avatar">person</i>
					</div>
					<div class="messages_sms_bloc">
						<div class="messages_sms_body">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						</div>
						<div class="messages_sms_date">
							22/03/2016 12:00
						</div>
					</div>
				</div>
				
				<!-- IF ELSE -->
				<div class="messages_bloc_send">
					<div class="messages_sms_bloc">
						<div class="messages_sms_body">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						</div>
						<div class="messages_sms_date">
							22/03/2016 12:00
						</div>
					</div>
					<div class="messages_sms_avatar">
						<i class="material-icons mdl-list__item-avatar">person</i>
					</div>
				</div>
				
				<!-- TO DELETE -->
				<!-- IF RECEIVE -->
				<div class="messages_sms_receive">
					<div class="messages_sms_avatar">
						<i class="material-icons mdl-list__item-avatar">person</i>
					</div>
					<div class="messages_sms_bloc">
						<div class="messages_sms_body">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						</div>
						<div class="messages_sms_date">
							22/03/2016 12:00
						</div>
					</div>
				</div>
				
				<!-- IF ELSE -->
				<div class="messages_bloc_send">
					<div class="messages_sms_bloc">
						<div class="messages_sms_body">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						</div>
						<div class="messages_sms_date">
							22/03/2016 12:00
						</div>
					</div>
					<div class="messages_sms_avatar">
						<i class="material-icons mdl-list__item-avatar">person</i>
					</div>
				</div>
				<!-- IF RECEIVE -->
				<div class="messages_sms_receive">
					<div class="messages_sms_avatar">
						<i class="material-icons mdl-list__item-avatar">person</i>
					</div>
					<div class="messages_sms_bloc">
						<div class="messages_sms_body">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						</div>
						<div class="messages_sms_date">
							22/03/2016 12:00
						</div>
					</div>
				</div>
				
				<!-- IF ELSE -->
				<div class="messages_bloc_send">
					<div class="messages_sms_bloc">
						<div class="messages_sms_body">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						</div>
						<div class="messages_sms_date">
							22/03/2016 12:00
						</div>
					</div>
					<div class="messages_sms_avatar">
						<i class="material-icons">person</i>
					</div>
				</div>
				<!-- IF RECEIVE -->
				<div class="messages_sms_receive">
					<div class="messages_sms_avatar">
						<i class="material-icons">person</i>
					</div>
					<div class="messages_sms_bloc">
						<div class="messages_sms_body">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						</div>
						<div class="messages_sms_date">
							22/03/2016 12:00
						</div>
					</div>
				</div>
				
				<!-- IF ELSE -->
				<div class="messages_bloc_send">
					<div class="messages_sms_bloc">
						<div class="messages_sms_body">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						</div>
						<div class="messages_sms_date">
							22/03/2016 12:00
						</div>
					</div>
					<div class="messages_sms_avatar">
						<i class="material-icons">person</i>
					</div>
				</div>
				<!-- IF RECEIVE -->
				<div class="messages_sms_receive">
					<div class="messages_sms_avatar">
						<i class="material-icons">person</i>
					</div>
					<div class="messages_sms_bloc">
						<div class="messages_sms_body">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						</div>
						<div class="messages_sms_date">
							22/03/2016 12:00
						</div>
					</div>
				</div>
				
				<!-- IF ELSE -->
				<div class="messages_bloc_send">
					<div class="messages_sms_bloc">
						<div class="messages_sms_body">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						</div>
						<div class="messages_sms_date">
							22/03/2016 12:00
						</div>
					</div>
					<div class="messages_sms_avatar">
						<i class="material-icons">person</i>
					</div>
				</div>
				<!-- IF RECEIVE -->
				<div class="messages_sms_receive">
					<div class="messages_sms_avatar">
						<i class="material-icons">person</i>
					</div>
					<div class="messages_sms_bloc">
						<div class="messages_sms_body">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						</div>
						<div class="messages_sms_date mdl-typography--font-light">
							22/03/2016 12:00
						</div>
					</div>
				</div>
				
				<!-- IF ELSE -->
				<div class="messages_bloc_send">
					<div class="messages_sms_bloc">
						<div class="messages_sms_body">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						</div>
						<div class="messages_sms_date">
							22/03/2016 12:00
						</div>
					</div>
					<div class="messages_sms_avatar">
						<i class="material-icons">person</i>
					</div>
				</div>
			</div>
			<div id="messages_inputs">
				<form action="#">
					<div id="messages_input_block" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" id="messages_input">
						<label class="mdl-textfield__label" for="messages_input">Envoyer un message</label>
					</div>
					<button id="messages_emoji_btn" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
						<i class="material-icons">mood</i>
					</button>
					<button id="messages_send_btn" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
						<i class="material-icons">send</i>
					</button>
				</form>
			</div>
			
		</div>
	</div>
</div>